apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "integral-timesystem.fullname" . }}
  labels:
    {{- include "integral-timesystem.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "integral-timesystem.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "integral-timesystem.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "integral-timesystem.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      volumes:
        - name: isilon-verso-integral
          persistentVolumeClaim:
            claimName: pvc-isilon-verso-integral{{ .Values.pv_suffix }}

      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

          env:
          - name: REP_BASE_PROD_CONS
            value: /data/arc/rev_3
          - name: REP_BASE_PROD_NRT
            value: /data/rep_base_prod_nrt

          volumeMounts:
          - mountPath: /data/arc/rev_3
            name: isilon-verso-integral
            subPath: {{ .Values.isdc_verso.paths.rev_3 }}
          {{- include "archive_mount_options" . | nindent 12 }}

          - mountPath: /data/rep_base_prod
            name: isilon-verso-integral
            subPath: {{ .Values.isdc_verso.paths.rev_3 }}
          {{- include "archive_mount_options" . | nindent 12 }}

          - mountPath: /isdc/arc/rev_3
            name: isilon-verso-integral
            subPath: {{ .Values.isdc_verso.paths.rev_3 }}
          {{- include "archive_mount_options" . | nindent 12 }}

          - mountPath: /data/rep_base_prod_nrt
            name: isilon-verso-integral
            subPath: {{ .Values.isdc_verso.paths.pvphase_nrt_ops }}
          {{- include "archive_mount_options" . | nindent 12 }}


      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
